<h1>Hola soy la página de galeria</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error id atque nobis suscipit similique ut quisquam
    voluptate deleniti. Ex assumenda culpa officiis velit non blanditiis quae quos facilis debitis officia.</p>
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis vel nam ea asperiores blanditiis ut, nulla enim
    neque temporibus fugiat quam aliquam praesentium repellat magnam quibusdam necessitatibus laudantium quos et?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, unde at doloremque reiciendis debitis quas
    mollitia tempora animi ipsam dolorem dignissimos eligendi nulla necessitatibus est enim ad eum distinctio atque.</p>

    